@model SurveyApp.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<h2>Register</h2>
<br />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.UserName)</td>
                <td>@Html.TextBoxFor(m => m.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)&nbsp;&nbsp;</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
            </tr>
        </table>
        <input type="submit" class="btn btn-primary" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
