@model SurveyApp.Models.Question

@{
    ViewBag.Title = "Create";
}

<h2>Create new question</h2>
<br />
<div class="jumbotron" style="font-size:medium; padding:17px">
    <p>Note: Options are the number of choices. By default, question is text-based. Question types:</p>
    <ul>
        <li>0: Text (set options to be 0)</li>
        <li>1: Radio box (accept 1 option)</li>
        <li>2: Checked box (accept multiple options)</li>
        <li>3: Slider question (options are levels of the slider)</li>
    </ul>
</div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.options)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.options)
            @Html.ValidationMessageFor(model => model.options)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuestionType)
            @Html.ValidationMessageFor(model => model.QuestionType)
        </div>
        <div class="editor-label">
            <b>Enter option instructions, separate by comma</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Instructions)
            @Html.ValidationMessageFor(model => model.Instructions)
        </div>
        <br />
        <p>
            <input type="submit" class="btn btn-primary" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Survey")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
