@model SurveyApp.Models.Question

@{
    ViewBag.Title = "Edit";
}

<h2>Edit question</h2>
<br />

<p class="jumbotron" style="font-size:medium; padding:17px">
    Note: Options value will determine the type of this question in your survey. Value 0 means text question. You can choose value larger than 1 
    to specifize how many options your question will have.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>

        @Html.HiddenFor(model => model.QuestionId)


        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.options)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.options)
            @Html.ValidationMessageFor(model => model.options)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuestionType)
            @Html.ValidationMessageFor(model => model.QuestionType)
        </div>
        <div class="editor-label">
            Enter option instructions, separate by comma
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Instructions)
            @Html.ValidationMessageFor(model => model.Instructions)
        </div>
        <br />
        <p>
            <input type="submit" class="btn btn-primary" value="Save" />
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Survey")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
