@model Dictionary<string, List<SurveyApp.Models.Response>>

@{
    ViewBag.Title = "Summary";
}
@if (ViewBag.Questions.Count > 12) {
@section script{
    <script>
        $(function () {
            var table = $('#summary-table');
            table.find('thead tr').detach().prependTo(table.find('tbody'));
            var t = table.find('tbody').eq(0);
            var r = t.find('tr');
            var cols = r.length;
            var rows = r.eq(0).find('td,th').length;
            var cell, next, tem, i = 0;
            var tb = $('<tbody></tbody>');

            while (i < rows) {
                cell = 0;
                tem = $('<tr></tr>');
                while (cell < cols) {
                    next = r.eq(cell++).find('td,th').eq(0);
                    tem.append(next);
                }
                tb.append(tem);
                ++i;
            }
            table.find('tbody').remove();
            $(tb).appendTo(table);
            $(table)
                .find('tbody tr:eq(0)')
                .detach()
                .appendTo(table.find('thead'))
                .children()
                .each(function () {
                    $(this).replaceWith('<th scope="col">' + $(this).html() + '</th>');
                });
            $(table)
                .find('tbody tr th:first-child')
                .each(function () {
                    $(this).replaceWith('<td scope="row">' + $(this).html() + '</td>');
                });
            table.show();
        })
    </script>

}
}

<h2>Summary for survey: @ViewBag.survey</h2>
<br />
<button class="btn btn-info" type="button" onclick="location.href='/survey/export/@ViewBag.surveyid'">Export data to CSV</button>
<br />
<br />

<table id="summary-table" class="table table-nonfluid panel panel-default" style="max-width: 900px">
    <tr>
        <th>Responder
        </th>
        <th>Unique Id
        </th>
        @{var counter = 1;}
        @foreach (var q in ViewBag.Questions)
        {
            if (q.options == 0)
            {
                <th>@q.Text</th>
            }
            else
            {
            <th>Q @counter
            </th>
                counter++;
            }
        }
    </tr>

    @foreach (var pack in Model)
    {
        <tr>
            <td>
                @ViewBag.Responders[pack.Key]
            </td>
            <td>
                @pack.Key
            </td>
            @foreach (var r in pack.Value)
            {
                if (r.Question.options == 0)
                {
                <td>
                    @r.Text
                </td>
                }
                else
                {
                <td>
                    @r.Value
                </td>
                }
            }
        </tr>    
    }
</table>
