@model Dictionary<string, List<SurveyApp.Models.Response>>

@{
    ViewBag.Title = "Summary";
}

<h2>Summary for survey: @ViewBag.survey</h2>
<button class="btn btn-info" type="button" onclick="location.href='/survey/export/@ViewBag.surveyid'">Export data to CSV</button>
<br />
<br />

<table class="table table-nonfluid panel panel-default" style="max-width: 900px">
    <tr>
        <th>Responder
        </th>
        <th>Unique Id
        </th>
        @{var counter = 1;}
        @foreach (var q in ViewBag.Questions)
        {
            if (q.options == 0)
            {
                <th>@q.Text</th>
            }
            else
            {
            <th>Q @counter
            </th>
                counter++;
            }
        }
    </tr>

    @foreach (var pack in Model)
    {
        <tr>
            <td>
                @ViewBag.Responders[pack.Key]
            </td>
            <td>
                @pack.Key
            </td>
            @foreach (var r in pack.Value)
            {
                if (r.Question.options == 0)
                {
                <td>
                    @r.Text
                </td>
                }
                else
                {
                <td>
                    @r.Value
                </td>
                }
            }
        </tr>    
    }
</table>
